<!DOCTYPE html>
<html>
    <head>
    
    </head>
    <body>
        <h2 class="centered">All Projects Report:</h2>
        <div class="box centered">
            <p></p>
            <%#= All these instance variables come from all_projects_controller.rb %>
            <p>Number of Projects: <%= @projects_count %></p>
            <p>Average issues per project: <%= @mean_issues_per_project %></p>
            <p>Proportion of resolved issues per project: <%= @proportion_of_resolved_issues_per_proj %></p>
            <p>End users per project <%= @end_users_per_project %></p>
            <p>developers per project <%= @developers_per_project %></p>
            <p>Project managers per project <%= @pms_per_project %></p>
        </div> 
        <p></p>
        <p class="centered">AllProjects#index</p>
        <p class="centered">Find me in app/views/all_projects/index.html.erb</p>
    </body>
</html>

