<%= render "shared/menu" %>

<ul>
    <% @issues.each do |issue| %>
        <li>
            <div class="card">
                <div class="card-body">
                    <h2> Summary: <%= issue.summary  %> </h2>
                    <p> Description: <%= issue.description  %> </p>
                    <h3> Status: <%= issue.status  %> </h3>
                    <h4> Comments: </h4>
                    <% if @comment_content == nil %>
                        <% @comment_content = ["There are no comments"] %>
                    <% end %>
                    <% @comment_content.each do |comment| %>
                        <li>
                            <%= comment %>
                        </li>
                    <% end %>
                </div>
            </div>
        </li>
    <% end %>
</ul>

<div class centered>
    <p>Issues#index</p>
    <p>Find me in app/views/issues/index.html.erb</p>
</div>