<html>
    <head>
    
    </head>
    <body>
        <%= render "shared/menu" %>
        <div class="centered">
            <h3><%= @issue.summary%></h3>
            <h4><%= @issue.description%><h4>
            <h5><%= @issue.status%></h5>
            <h4> Comments: </h4>
            <ul>
            <% @issue.comments.each do |comment|%>
                <li>
                    <div class="card">
                        <div class="card-body">
                            <p class="bold"> 
                                <%= User.find(comment.user_id).username %>:
                                <p><%= comment.content %></p>
                            </p>
                        </div>
                    </div>
                </li>
            <% end %>
            <%= form_with url: comments_path do |form| %>
                <h3>Create a New Comment: </h3>
                <% usernames = [] %>
                <% User.all.each do |user| %>
                    <% usernames << user.username%>
                <% end %>
                <p><%= form.select :username, usernames %></p>

                <% summaries = [] %>
                <% Issue.all.each do |issue| %>
                    <% summaries << issue.summary%>
                <% end %>
                <p><%= form.select :summary, summaries %></p>

                <h5>Content: </h5>
                <p><%= form.text_area :content, size: "20x3" %></p>

                <p><%= form.submit %></p>
            <% end %></p>
        </div>
    </body>
</html>