<html>
    <head>
    
    </head>
    <body>
        <%= render "shared/menu" %>
        <div class="centered">
            <h3><%= @issue.summary%></h3>
            <h4><%= @issue.description%><h4>
            <h5><%= @issue.status%></h5>
            <h4> Comments: </h4>
            <ul>
            <% @issue.comments.each do |comment|%>
                <li>
                    <div class="card">
                        <div class="card-body">
                            <p class="bold"> 
                                <%= User.find(comment.user_id).username %>:
                                <p><%= comment.content %></p>
                            </p>
                        </div>
                    </div>
                </li>
            <% end %>
        </div>
    </body>
</html>