<!DOCTYPE html>
<html>
    <head>
    
    </head>
    <body>
        <%= render "shared/menu" %>
        <div class="centered">
            <%#= Show all info about an issue including comments%>
            <h3><%= @issue.summary%></h3>
            <p><%= @issue.description%><p>
            <% if @issue.status.downcase == "unresolved" %>
                <h5 class="red"><%= @issue.status%></h5>
            <% else %>
                <h5 class="green"><%= @issue.status%></h5>
            <% end %>
            <h4> Comments: </h4>
            <ul>
            <% @issue.comments.each do |comment|%>
                <li>
                    <div class="card centered-div">
                        <div class="card-body">
                            <p class="bold"> 
                                <%= User.find(comment.user_id).username %>:
                                <p><%= comment.content %></p>
                            </p>
                        </div>
                    </div>
                </li>
            <% end %>

            <%#= Create a comment on any issue given it's id %>
            <%= form_with model: @comment, :url => comments_url do |form| %>
                <p><%= form.label :New_comment %></p>

                <h5>User id: </h5>
                <p><%= form.text_area :user_id, size: "10x2" %></p>

                <h5>Issue id: </h5>
                <p><%= form.text_area :issue_id, size: "10x2" %></p>

                <h5>Content: </h5>
                <p><%= form.text_area :content, size: "20x3" %></p>

                <%= form.submit %>
            <% end %>
        </div>
    </body>
</html>