<html>
    <head>
    
    </head>
    <body>
        <%= render "shared/menu" %>
        <div class="centered">
            <h3><%= @issue.summary%></h3>
            <h4><%= @issue.description%><h4>
            <h5><%= @issue.status%></h5>
            <h4> Comments: </h4>
            <ul>
            <% @issue.comments.each do |comment|%>
                <li>
                    <div class="card">
                        <div class="card-body">
                            <p class="bold"> 
                                <%= User.find(comment.user_id).username %>:
                                <p><%= comment.content %></p>
                            </p>
                        </div>
                    </div>
                </li>
            <% end %>

            <%= form_with model: @comment, :url => comments_url do |form| %>
                <p><%= form.label :New_comment %></p>

                <h5>User id: </h5>
                <p><%= form.text_area :user_id, size: "10x2" %></p>

                <h5>Issue id: </h5>
                <p><%= form.text_area :issue_id, size: "10x2" %></p>

                <h5>Content: </h5>
                <p><%= form.text_area :content, size: "20x3" %></p>

                <%= form.submit %>
            <% end %>
        </div>
    </body>
</html>