<%= render "shared/menu" %>
<%#= render "shared/status", :user => @user %>

<h1 class="centered"> User </h1>

<div class="container">
    <div class="card">
        <h2> Username: <%= @user.username  %> </h2>
        <h3> Role: <%= @user.role  %> </h3>
    </div>

    <div class="card">
        <h4> Comments: </h4>
        <ul>
            <% @user.comments.each do |comment| %>
                <li>
                    <p>
                        <%= comment.content %>
                    </p>
                </li>
            <% end %>
        </ul>

        <h4> Issues: </h4>
        <ul>
            <% @user.issues.each do |issue| %>
                <li>
                    <p>  
                        <%= issue.summary %>
                    </p>
                </li>
            <% end %>
        </ul>
    </div>
</div>
