<!DOCTYPE html>
<html>
    <head> 
    </head>
    <body>
        <%= render "shared/menu" %>
        <div class="centered">

        <% if @user == nil %>
        <p><%= link_to "Login", new_user_session_path %> </p>
        <% elsif @user.role.downcase == "developer" || @user.role.downcase == "project_manager" %>
            <h2 class="underlined"> 
                <% if @user.role.downcase == "developer" %>
                    Developer Dashboard 
                <% elsif @user.role.downcase == "project_manager" %>
                    Project Manager Dashboard
                <% end %> </h2>
            
            <div class="container">
                <div class="row">

                    <div class=col-sm>
                        <% if @user.role.downcase == "project_manager" %>
                            <p><%= link_to 'New Project', new_project_path, :class => "btn btn-light"%> </p>
                        <% end %>
                        <h4 class="underlined">Projects </h4>
                        <ul>
                            <% Project.all.each do |project| %>
                                <li>
                                    <p>* <%= link_to project.title, project_path(project) %>
                                    <%# only show delete buttons to the project manager %>
                                    <% if  @user.role.downcase == "project_manager"%>
                                        <%# https://stackoverflow.com/questions/18723155/destroy-path-not-working-in-ruby-on-rails %>
                                        <%= link_to 'Delete', project_path(project),  
                                            :class => "btn btn-danger",
                                            method: :delete, data: { confirm: "Are you sure?" } %> </p>
                                    <% end %>
                                </li>
                            <% end %>
                        </ul>
                        <%#= Make dropdowns for usernames to match with summaries%>
                        <%= form_with url: "/" do |form| %>
                            <h3>Assign a user to an issue: </h3>
                            <% usernames = [] %>
                            <% User.all.each do |user| %>
                                <% usernames << user.username%>
                            <% end %>
                            <p><%= form.select :username, usernames %></p>

                            <% summaries = [] %>
                            <% Issue.all.each do |issue| %>
                                <% summaries << issue.summary%>
                            <% end %>
                            <p><%= form.select :summary, summaries %></p>

                            <p><%= form.submit %></p>
                        <% end %></p>
                        <h4 class="underlined"><%= link_to "Users", users_path%> </h4>
                        
                    </div>

                    <div class=col-sm>
                        <% if @user.role.downcase == "project_manager" %>
                            <p><%= link_to 'All Projects Report', all_projects_index_path, :class => "btn btn-light"%> </p>
                        <% end %>
                        <h4 class="underlined">Issues </h4>
                        <ul>
                            <% Issue.all.each do |issue| %>
                                <li class="card">
                                <p> * [<%= Project.find(issue.project_id).title%><%#= link_to Project.find(issue.project_id).title, 
                                               project_path(issue.project_id) %>] 
                                    <span> - </span>
                                    <%= link_to issue.summary, issue_path(issue) %>
                                    <%# only show delete buttons to the project manager %>
                                    <% if  @user.role.downcase == "project_manager"%>
                                        <%# https://stackoverflow.com/questions/18723155/destroy-path-not-working-in-ruby-on-rails %>
                                        <%= link_to 'Delete', issue_path(issue),  
                                            :class => "btn btn-danger",
                                            method: :delete, data: { confirm: "Are you sure?" }  %> 
                                    <% end %>
                                </p>
                                </li>
                            <% end %>
                        </ul>
                    </div>

                </div>
            </div>

        <% elsif user_signed_in? %>
            <h2> End user dashboard </h2>
            <!-- display all issues associated with user -->
            <h4> User's issues: </h4>
            <ul>
                <% @issues.each do |issue| %>
                    <% issue.users.each do |user| %>
                        <% if user == @user %>
                            <li>
                                <%= link_to issue.summary, issue_path(issue) %>
                            </li>
                        <% end %>
                    <% end %>
                <% end %>
            </ul>
        <% end %>
        <div class="centered">Home#index</div>
        <div class="centered">Find me in app/views/home/index.html.erb</div>
    </body>
</html>
