<!DOCTYPE html>
<html>
    <head> 
    </head>
    <body>
        <%= render "shared/menu" %>
        <div class="centered">

        <% if @user == nil %>
        <p><%= link_to "Login", new_user_session_path %> </p>
        <% elsif @user.role.downcase == "developer" || @user.role.downcase == "project_manager" %>
            <h2 class="underlined"> 
                <% if @user.role.downcase == "developer" %>
                    Developer Dashboard 
                <% elsif @user.role.downcase == "project_manager" %>
                    Project Manager Dashboard
                <% end %> </h2>
            
            <div class="container">
                <div class="row">

                    <div class=col-sm>
                        <% if @user.role.downcase == "project_manager" %>
                            <p><%= link_to 'New Project', new_project_path, :class => "btn btn-light"%> </p>
                        <% end %>
                        <h4 class="underlined">Projects </h4>
                        <ul>
                            <% Project.all.each do |project| %>
                                <li>
                                    <p>* <%= link_to project.title, project_path(project) %>
                                    <%# https://stackoverflow.com/questions/18723155/destroy-path-not-working-in-ruby-on-rails %>
                                    <%= link_to 'Delete', project_path(project),  
                                        :class => "btn btn-danger",
                                        method: :delete, data: { confirm: "Are you sure?" } %> </p>
                                </li>
                            <% end %>
                        </ul>
                        <%= form_with url: "/" do |form| %>
                            <h3>Assign a user to an issue: </h3>
                            <% usernames = [] %>
                            <% User.all.each do |user| %>
                                <% usernames << user.username%>
                            <% end %>
                            <p><%= form.select :username, usernames %></p>

                            <% summaries = [] %>
                            <% Issue.all.each do |issue| %>
                                <% summaries << issue.summary%>
                            <% end %>
                            <p><%= form.select :summary, summaries %></p>

                            <p><%= form.submit %></p>
                        <% end %></p>
                    </div>

                    <div class=col-sm>
                        <% if @user.role.downcase == "project_manager" %>
                            <p><%= link_to 'All Projects Report', all_projects_index_path, :class => "btn btn-light"%> </p>
                        <% end %>
                        <h4 class="underlined">Issues </h4>
                        <ul>
                            <% Issue.all.each do |issue| %>
                                <li class="card">
                                <p> * [<%= Project.find(issue.project_id).title %>] 
                                    <%= link_to issue.summary, issue_path(issue) %>
                                    <%# https://stackoverflow.com/questions/18723155/destroy-path-not-working-in-ruby-on-rails %>
                                    <%= link_to 'Delete', issue_path(issue),  
                                        :class => "btn btn-danger",
                                        method: :delete, data: { confirm: "Are you sure?" }  %> 

                                </p>
                                </li>
                            <% end %>
                        </ul>
                    </div>

                </div>
            </div>

        <% elsif user_signed_in %>
            <h2> End user dashboard </h2>
        <% end %>
        <div class="centered"><p>Home#index</p>
        <p>Find me in app/views/home/index.html.erb</p></div>
    </body>
</html>
