<html>
    <head>
    
    </head>
    <body>
        <h2 class="centered"><%=  @project.title %> Project Report:</h2>
        <div class="box centered">
            <p></p>
            <% %>
            <p>Number of issues: <%= @number_of_issues %></p>
            <p>Proportion of resolved issues: <%= @percentage_of_resolved_issues %>%</p>
            <p>Average comments per issue: <%= @comments_per_issue %></p>
            <p>End users involved: <%= @end_users_involved %></p>
            <p>Developers involved: <%= @devs_involved %></p>
            <p>Project Managers involved: <%= @PMs_involved %></p>
        <div> 
    </body>
</html>