<html>
    <head>
    
    </head>
    <body>
        <h2 class="centered"><%=  @project.title %> Project Report:</h2>
        <div class="box">
            <% %>
            <p>Number of issues: <%= @number_of_issues%></p>
            <p><%= %></p>
            <p><%= %></p>
            <p><%= %></p>
            <p><%= %></p>
            <p><%= %></p>
        <div> 
    </body>
</html>