<!DOCTYPE html>
<html>
    <head>
    
    </head>
    <body>
        <%= render "shared/menu" %>
        <div class="centered"> 
            <h2>New Project:</h2>
            <p>Description </p> 

            <%#= create a form for new projects %>
            <%= form_with model: @project do |form| %>
                <h3>Title: </h3>
                <p><%= form.text_area :title, size: "16x1" %></p>
                <h3>Summary: </h3>
                <p><%= form.text_area :summary, size: "20x2" %></p>
                <h3>Description:  </h3>
                <p><%= form.text_area :description, size: "25x5" %></p>

                 <p><%#= form.text_area :status, size: "16x1" %></p>

                <h3>Status: </h3>
                <% form.label "Status" %>
                <% statuses = ['complete', 'incomplete'] %>
                <p><%= form.select(:status, ['complete','incomplete']) %></p>
                <p><%#= form.select :status, statuses %></p>

                <p><%= form.submit "Submit" %></p>
            <% end %>

        </div>
    <body>
<html>