<html>
    <head>
    
    </head>
    <body>
        <%= render "shared/menu" %>
        <div class="centered"> 
            <h2>New Project:</h2>
            <p>Description </p> 

            <%= form_with model: @project do |form| %>
                <h3>Title: </h3>
                <p><%= form.text_area :title, size: "16x1" %></p>
                <h3>Summary: </h3>
                <p><%= form.text_area :summary, size: "20x2" %></p>
                <h3>Description:  </h3>
                <p><%= form.text_area :description, size: "25x5" %></p>
                <h3>Status (complete or incomplete): </h3>
                <p><%= form.text_area :status, size: "16x1" %></p>
                <p><%= form.submit "Submit" %></p>
            <% end %>

        </div>
    <body>
<html>