<!DOCTYPE html>
<html>
    <head>
    
    </head>
    <body>
        <%= render "shared/menu" %>
        <h2 class="centered" >Project: <%=  @project.title %> 
        <!-- The columns below are using Bootstrap: -->
        <div class="row"> 
            <div class="col-8"><span class="underlined"> Issues: </span>
                <ul class="no-bullets">
                    <% @project.issues.each do |issue| %>
                        <div class="card">
                            <li><div class="card-body">

                                <p><%= issue.summary %> - 
                                <% if issue.status %>
                                    <% if issue.status.downcase == "unresolved" %>
                                        <span class="red"><%= issue.status  %></span>
                                    <% else %>
                                        <span class="green"><%= issue.status  %></span>
                                    <% end %>

                                    <% issue.comments.each do |comment| %>
                                        <p><div class="bold">Username: <%= User.find(comment.user_id).username %>:</div> 
                                        <%= comment.content %></p>
                                    <% end %>
                                <% else %>
                                     <span class="orange">Warning: No Issue Status</span>
                                <% end %>
                            </div></li>
                        </div>
                    <% end %>
                </ul>
                
            </div>
            <div class="col-4">
                <% if @project.status %>
                    <% if @project.status.downcase == "complete" %>
                        <span class="green"><%= @project.status  %></span>
                    <% else %>
                        <span class="red"><%= @project.status  %></span>
                    <% end %>
                <% else %>
                    <span class="orange">Warning: No project status</span>
                <% end %>

                <p><%= button_to "Project Report", 
                    project_reports_path(@project), 
                    :method => :get
                %></p>
                <%= form_with model: @issue, :url => new_issue_path do |form| %>
                    <p><%= form.label :New_Issue %></p>
                    <h5>Project Title: </h5>
                    <!-- Create a new Issue -->
                    <!-- Create a dropdown of project titles -->
                    <% titles = [] %>
                    <% Project.all.each do |project| %>
                        <% titles << project.title%>
                    <% end %>
                    <p><%= form.select :title, titles %></p>  

                    <h5>Summary: </h5>
                    <p><%= form.text_area :summary, size: "15x3" %></p>
                    <h5>Description: </h5>
                    <p><%= form.text_area :description, size: "30x5" %></p>
                    <h5>Status: </h5>
                    <p><%= form.text_area :status, size: "10x2" %></p>
                    <%= form.submit %>
                <% end %>
            </div>

        </div>
    </body>
</html>