<html>
    <head>
    
    </head>
    <body>
        <%= render "shared/menu" %>
        <h2 class="centered" >Project: <%=  @project.title %> 
        <!-- The columns below are using Bootstrap: -->
        <div class="row"> 
            <div class="col-8"><span class="underlined"> Issues: </span>
                <ul class="no-bullets">
                    <% @project.issues.each do |issue| %>
                        <li><button type="button" class="btn btn-light">
                            <p><%= issue.summary %> - <%= issue.status %></p>
                            <% issue.comments.each do |comment| %>
                                <p><div class="bold">Username: <%= User.find(comment.user_id).username %>:</div> 
                                <%= comment.content %></p>
                            <% end %>
                        </button></li>
                    <% end %>
                </ul>
            </div>
            <div class="col-4">
                <h5> Status: <%= @project.status %></h5>
                <button type="button" class="btn btn-light">Project Report</button>
            </div>

        </div>
    </body>
</html>